<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>ng-easy-infinite-scroll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/ng-ui-multi-select.css">
  </head>
  <body ng-controller="ctrl"> <br><br>
    <style media="screen">
      body{
        background: #f5f5f5;
      }
    </style>

    <main>
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" ng-model="registro.nome" class="form-control"> <br><br>
              <button type="button" ng-click="disabled = !disabled">Habilitar/Desabilitar funcionarios</button>
            </div>
            <div class="form-group">
              <label>Funcionarios: </label>

              <ui-multi-select placeholder="Buscar..." ng-model="registro.funcionarios" close-on-select-item="false" ng-disabled="disabled">
                <ui-multi-select-item   ng-repeat="item in registro.funcionarios" ng-value="item">
                  {{item.nome}}
                </ui-multi-select-item>
                <ui-multi-select-option ng-repeat="option in items" ng-value="option" ng-disabled="option.idade == 19">
                  {{option.nome}}
                </ui-multi-select-option>
              </ui-multi-select>

             </div>

          </div>
          <div class="col-md-8"><br><br>
            {{registro}}
          </div>
        </div>

        <div class="row" ng-non-bindable>
          <div class="col-md-6">
            <h3>HTML</h3>
            <pre><code style="font-size: 10px;" class="prettyprint">&lt;div class="form-group"&gt;
  &lt;label&gt;Funcionarios: &lt;/label&gt;
  &lt;ui-multi-select placeholder="Buscar..."
                   close-on-select-item="false"
                   ng-model="selectedItems"&gt;
    &lt;ui-multi-select-item ng-repeat="item in selectedItems"
                          ng-value="item"&gt;
      {{item.nome}}
    &lt;/ui-multi-select-item&gt;
    &lt;ui-multi-select-option ng-repeat="option in items"
                            ng-value="option"&gt;
      {{option.nome}}
    &lt;/ui-multi-select-option&gt;
  &lt;/ui-multi-select&gt;
&lt;/div&gt;</code></pre>
          </div>
          <div class="col-md-6">
            <h3>JavaScript</h3>
            <pre><code style="font-size: 10px;" class="prettyprint">angular.module('app', ['ngUiMultiSelect'])
.controller('ctrl', function($scope, $timeout){
    $scope.selectedItems = [{"nome":"Mateus","idade":20}];
    $scope.items = [
      { nome: 'Mateus',  idade: 20},
      { nome: 'Thalita', idade: 19},
      { nome: 'Willian', idade: 25},
      { nome: 'Felipe',  idade: 25},
      { nome: 'Munif',   idade: 50}
    ]
})</code></pre>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h1>ui-multi-select</h1>
            <p>
              Diretiva principal, cria uma input na tela para que o usuário possa selecionar seus itens.
            </p>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <th>
                    Atributo
                  </th>
                  <th>
                    Descrição
                  </th>
                </tr>
                <tr>
                  <td>
                    ng-model
                  </td>
                  <td>
                    [Array] Nome da variável que será armazenado os itens selecionados pelo usuário.
                  </td>
                </tr>
                <tr>
                  <td>
                    placeholder
                  </td>
                  <td>
                    [String] Texto que será mostrado dentro da input.
                  </td>
                </tr>
                <tr>
                  <td>
                    close-on-select-item
                  </td>
                  <td>
                    [Boolean] - Atributo que decide se vai fechar ou não a caixa de opções.
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>ui-multi-select-item</h1>
            <p>
              Diretiva responsavél por criar os templates dos itens que estarão selecionados dentro da input.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>ui-multi-select-option</h1>
            <p>
              Diretiva responsavél por mostrar as opções que ainda estão disponíveis para usuário selecionar.
            </p>
          </div>
        </div>

      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript" src="dist/ng-ui-multi-select.js"></script>

    <script type="text/javascript">
      angular.module('app', ['ngUiMultiSelect']).controller('ctrl', function($scope, $timeout, $http){

          $scope.registro = {
            nome: 'Mateus Miranda',
            funcionarios : []
          }

          $scope.items = [
            { nome: 'Mateus',  idade: 20},
            { nome: 'Thalita', idade: 19},
            { nome: 'Willian', idade: 25},
            { nome: 'Felipe',  idade: 25},
            { nome: 'Munif',   idade: 50}
          ]
      })
    </script>

  </body>
</html>
