/*MULTI SELECT STYLE*/

.select-clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.select-clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .select-clearfix { height: 1%; }
.select-clearfix { display: block; }
/* close commented backslash hack */

ui-multi-select > div {
  width: 100%;
  min-height: 48px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  display: block;
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  position: relative;
  background: #FFFFFF;
  z-index: 999999;
  padding: 0 0 8px 3px;
  vertical-align: middle;
}

ui-multi-select > div .item-container{
  background: rgb(238,238,238);
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  outline: none;
}

ui-multi-select > div .item-container:focus, ui-multi-select > div .item-container:active{
  outline: none;
}

ui-multi-select > div .item-container.item-focused{
  background: #106CC8;
  outline: none;
}

ui-multi-select-option li.option-focused{
  background: rgb(238,238,238);
  outline: none;
}

ui-multi-select-option li.option-focused:active, ui-multi-select-option li.option-focused:focus{
  outline: none;
}

ui-multi-select > div .item-container.item-focused > span{
  color: #E0ECF8;
}

ui-multi-select > div .item-container.item-focused > i{
  color: #E0ECF8;
}

ui-multi-select > div .item-container{
  font-size: 14px;
}

ui-multi-select > div .item-container span{
  color: #666666;
}

ui-multi-select > div .item-container > i{
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
  color: #5f5b5b;
}

ui-multi-select > div .item-container > i:hover{
  color: #000000;
}

ui-multi-select > div > input{
  margin: 8px 8px 0px 5px;
  display: block;
  padding: 0;
  float: left;
  border: 0;
  height: 32px;
  line-height: 32px;
  vertical-align: baseline;
  user-select: text;
  cursor: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font: 13.3333px Arial;
  -webkit-appearance: none;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  background: transparent;
}

ui-multi-select > div > ul{
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  border: none;
  padding: 0;
  background: #FFFFFF;
  display: none;
}

ui-multi-select > div > ul.open{
  display: block;
}

ui-multi-select > div > ul li{
  font-size: 14px;
  overflow: hidden;
  padding: 0 15px;
  line-height: 48px;
  height: 48px;
  -webkit-transition: background .15s linear;
  transition: background .15s linear;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ui-multi-select > div > ul li:hover{
  background: rgb(238,238,238);
  cursor: pointer;
}
